www/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>yozer</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <link href='assets/jquery.mobile-1.4.5.min.css' rel='stylesheet' type='text/css'>
    <link href='assets/jquery.mobile.theme-1.4.5.min.css' rel='stylesheet' type='text/css'>
    <link href='assets/yozer.css' rel='stylesheet' type='text/css'>
    <link href='assets/favicon.png' rel='shortcut icon'>
  </head>
  <body style='background-color:black;'>
    <div data-position='fixed' data-role='header' id='header'>
      <div data-role='navbar'>
        <ul>
          <li>
            <a data-role='button' href='#page_stream' id='button_stream'>
              Stream
            </a>
          </li>
          <li>
            <a data-role='button' href='#page_status' id='button_status'>
              Status
            </a>
          </li>
          <li>
            <a data-role='button' href='#page_mentions' id='button_mentions'>
              Mentions
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div data-display='overlay' data-role='panel' data-theme='b' id='panel_new_status' name='new_status'>
      <div id='new_status'>
        <form id='new_status_form'>
          <div id='in_reply_to'></div>
          <table>
            <tr id='new_status_reply_to'>
              <td>Reply To:</td>
              <td id='new_status_reply_to_name'></td>
            </tr>
          </table>
          <label for='status'>
            Status:
          </label>
          <textarea name='status' rows='6'></textarea>
          <label for='attach'>
            File:
          </label>
          <input id='file_upload' name='attach' type='file'>
        </form>
        <button data-mini='true' data-role='button' data-theme='b' name='submit'>
          Submit
        </button>
        <button data-mini='true' data-role='button' data-theme='b' name='clear'>
          Clear
        </button>
      </div>
    </div>
    <div data-role='page' data-theme='b' id='page_stream'>
      <div id='content_stream'>
        <div class='scroller' id='stream_list_wrapper'>
          <div id='stream_list'></div>
        </div>
      </div>
    </div>
    <div data-role='page' data-theme='b' id='page_status'>
      <div id='content_status'>
        <div class='scroller' id='status_list_wrapper'>
          <div id='status_list'></div>
        </div>
      </div>
    </div>
    <div data-role='page' data-theme='b' id='page_mentions'>
      <div id='content_mentions'>
        <div class='scroller' id='mentions_list_wrapper'>
          <div id='mentions_list'></div>
        </div>
      </div>
    </div>
    <div data-position='right' data-role='panel' data-theme='b' id='panel_settings'>
      <div class='header'>
        <div class='title'>Settings</div>
      </div>
      <div id='authenticate'>
        <form id='authenticate_form'></form>
        <table>
          <tr>
            <td>Service:</td>
            <td>
              <input name='service' type='text'>
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input name='username' type='text'>
            </td>
          </tr>
          <tr>
            <td>Pass:</td>
            <td>
              <input name='password' type='password'>
            </td>
          </tr>
          <tr>
            <td colspan='2'>
              <button name='submit'>
                Submit
              </button>
            </td>
          </tr>
        </table>
        <div class='info'>
          Yozer utilizes
          <a href='https://en.m.wikipedia.org/wiki/Web_storage'>
            localStorage
          </a>
          for storing user data.
          <br>
          <button id='clear_localstorage'>Clear Data</button>
        </div>
      </div>
    </div>
    <div data-position='fixed' data-role='footer' id='footer'>
      <a data-icon='plus' data-iconpos='notext' data-role='button' href='#panel_new_status' id='button_new_status'>
        &nbsp;
      </a>
      <div style='float:right'>
        <a class='ui-btn-inline' data-icon='gear' data-iconpos='notext' data-role='button' href='#panel_settings' id='button_settings'>
          &nbsp;
        </a>
      </div>
    </div>
  </body>
  <!-- /load the javascripts -->
  <script src='assets/js/jquery-1.12.4.min.js' type='text/javascript'></script>
  <script src='assets/js/jquery.mobile-1.4.5.min.js' type='text/javascript'></script>
  <script src='assets/js/yozer.js' type='text/javascript'></script>
  <script src='assets/js/helper.js' type='text/javascript'></script>
  <script src='assets/js/jquery.xml2json.js' type='text/javascript'></script>
</html>

src/index.haml
!!! 5
%html
  %head
    %title yozer
    %meta{:charset=>"utf-8"}
    %meta{:content=>'width=device-width, initial-scale=1.0', :name=>'viewport'}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/jquery.mobile-1.4.5.min.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/jquery.mobile.theme-1.4.5.min.css"}
    %link{:rel => :stylesheet, :type => "text/css", :href => "assets/yozer.css"}
    %link{:rel => "shortcut icon", :href => "assets/favicon.png"}


  %body{:style=>"background-color:black;"}
    #header{'data-role':'header','data-position':'fixed'}
      %div{'data-role':'navbar'}
        %ul
          %li
            %a{href:'#page_stream',id:"button_stream", 'data-role':'button'}
              Stream
          %li
            %a{href:'#page_status',id:"button_status", 'data-role':'button'}
              Status
          %li
            %a{href:'#page_mentions',id:"button_mentions", 'data-role':'button'}
              Mentions
          
    = `haml panel_new_status.haml --trace`
    = `haml page_statuses.haml --trace`
    = `haml panel_settings.haml --trace`
    
    #footer{'data-role': "footer",'data-position':'fixed'}
      %a#button_new_status{href: "#panel_new_status", 'data-role':'button','data-icon':"plus",'data-iconpos':"notext"}
        &nbsp;
        
      %div{style:'float:right'}
        %a#button_settings{data:{icon:'gear', role:'button', iconpos:'notext'}, class:'ui-btn-inline', href:"#panel_settings"} 
          &nbsp;

  //load the javascripts
  %script{:type => "text/javascript", :src  => "assets/js/jquery-1.12.4.min.js"}
  %script{:type => "text/javascript", :src  => "assets/js/jquery.mobile-1.4.5.min.js"}
  %script{:type => "text/javascript", :src  => "assets/js/yozer.js"}
  %script{:type => "text/javascript", :src  => "assets/js/helper.js"}
  %script{:type => "text/javascript", :src  => "assets/js/jquery.xml2json.js"}
